snippet jdoc "JavaDoc Reference" i
{{< javadocref page="?${1:url}" text="${2:text}" >}}
endsnippet

snippet ref "Reference" i
{{< ref "${1:ref}" >}}
endsnippet

snippet rel "Relative Reference" i
{{< relref "${1:ref}" >}}
endsnippet

snippet c " Code" b
\`\`\`${1:java}
${2}
\`\`\`
endsnippet
